{% extends 'base.html.twig' %}

{#<!-- Custom styles for this template -->#}
{% block stylesheets %}

    <style type="text/css">
        /* Chart.js */
        @-webkit-keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }
        @keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }
        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }
    </style>
{% endblock %}

{% block title %}Products Dashboard{% endblock %}

{% block body %}

    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
        <div class="chartjs-size-monitor-expand"
             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
        </div>

        <div class="chartjs-size-monitor-shrink"
             style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
        </div>
    </div>


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Products Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">

            <div class="btn-group mr-2">
                <a class="btn btn-sm btn-outline-secondary" href="{{ path('product_new') }}">By tags</a>
                <button class="btn btn-sm btn-outline-secondary">By stock</button>
            </div>

            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-calendar">
                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                    <line x1="16" y1="2" x2="16" y2="6"></line>
                    <line x1="8" y1="2" x2="8" y2="6"></line>
                    <line x1="3" y1="10" x2="21" y2="10"></line>
                </svg>
                This week
            </button>

        </div>
    </div>

    <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="1019" height="430" style="display: block; width: 1019px; height: 430px;"></canvas>



    <h2>Products</h2>

    <div class="table-responsive">
        <table class="table table-striped table-sm">

            <thead>
                <tr>
                    <th>#</th>
                    <th>Preview</th>
                    <th>Name</th>
                    <th>Stock</th>
                    <th>#</th>
                </tr>
            </thead>

            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.image }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.stock }}</td>
                    <td>
                        <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                        <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No records found :(</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

    {% block javascripts %}
        <!-- Graphs -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

        <script>
            var ctx = document.getElementById("myChart");

            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Windows', 'macOS', 'Linux', 'iOS', 'Android'],
                    datasets: [{
                        data: [182, 60, 40, 120, 20, 180],
                        lineTension: 0,
                        backgroundColor: 'transparent',
                        borderColor: '#007bff',
                        borderWidth: 2,
                        pointBackgroundColor: '#007bff'
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    legend: {
                        display: false,
                    }
                }
            });
        </script>
    {% endblock %}

{% endblock %}