<div class="table-responsive">
    <table class="table table-striped table-sm">

        <thead>
            <tr>
                <th>#</th>
                <th>Preview</th>
                <th>Name</th>
                <th>Stock</th>
                <th>#</th>
            </tr>
        </thead>

        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>
                    <img src="{{ asset('uploads/products/' ~ product.image) }}">
                </td>
                <td>{{ product.title }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">No records found :(</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>